# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
quiz/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store

# Migrations (optional - depends on team)
# */migrations/*
# !*/migrations/__init__.py